# Dependency directories
node_modules/
**/node_modules/

# Next.js build output
.next/
**/.next/
out/

# NestJS build output
dist/
**/dist/

# Local mock databases and storage
.db/
**/.db/
.firebase/
**/.firebase/

# Environments and Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
**/*.log

# IDEs and System files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
